/* Corpo */

body {
  /* Dimensões */
  margin: 0px;
  padding: 0px;
  margin-top: 100px;

  /* Estilização */
  background-color: #274c77;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  /* Layout */
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

/* Cabeçalho */

header {
  /* Dimensões */
  display: grid;
  align-items: center;
  justify-items: center;
}

h1::before {
  /* Estilização */
  content: url("../assets/health.svg");

  /* Dimensões */
  margin-right: 10px;
}

/* Conteúdo Principal */

main section {
  /* Dimensões */
  padding: 20px 0px 20px 0px;
}

label,
input,
p {
  /* Estilização */
  font-size: 1.25rem;
}

p {
  /* Layout */
  grid-column: -3 / 1;
}

span {
  /* Estilização */
  font-weight: bold;
}

input {
  /* Estilização */
  border: 2px solid black;
  border-radius: 4px;
}

/* Rodapé */

footer {
  /* Layout */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  align-items: center;
}

button {
  /* Dimensões */
  padding: 10px;
  width: 120px;

  /* Estilização */
  border-radius: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.25rem;
  text-align: center;
  color: #274c77;
  background-color: #fff;
  border: 2px solid black;
  transition: 0.3s;
}

.botaoCalcular:hover {
  /* Estilização */
  background-color: #274c77;
  color: #e7ecef;
  cursor: pointer;
}

.botaoLimpar {
  /* Estilização */
  opacity: 0.6;
  background-color: #f95738;
  color: #fff;
}

.botaoLimpar:hover {
  /* Estilização */
  background-color: #f95738;
  cursor: pointer;
  color: #fff;
  opacity: 1;
}

.box {
  /* Dimensões */
  width: 800px;
  padding: 40px;

  /* Estilização */
  border-radius: 10px;
  background-color: #e7ecef;
}

.linha {
  display: flex;
}
